@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raisonne Demibold';
  src: url('/fonts/raisonne-demibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraBoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@layer utilities {
  @responsive {
    .auto-grid {
      @apply grid gap-x-4 gap-y-7 justify-items-center items-center w-full;
      grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size, min(43.5vw, 17rem)), 1fr)
      );
    }
    .region {
      @apply py-20 md:py-28 lg:py-44;
    }

    .region-md {
      @apply py-20;
    }

    .region-t {
      @apply pt-20 md:pt-28 lg:pt-44;
    }
  }
}

@layer base {
  :focus-visible {
    @apply outline-offset-8 outline-inherit;
  }

  body {
    font-feature-settings: 'zero', 'dlig';
    @apply font-normal font-poppins text-base text-green-900 min-h-screen;
  }

  h1,
  h2,
  h3 {
    @apply font-playfairDisplay;
  }

  a {
    @apply inline-block font-raisonne tracking-widest capitalize;
  }

  h1 {
    @apply md:text-7xl text-4xl leading-9 capitalize;
  }

  h2 {
    @apply md:text-6xl text-3xl text-green-800 capitalize lg:leading-tight;
  }

  h3 {
    @apply lg:text-3xl text-xl leading-tight font-semibold capitalize;
  }
}

#__next {
  grid-template-columns: 100%;
  @apply grid grid-rows-[auto_1fr_auto] min-h-screen;
}

.button {
  @apply appearance-none inline-flex items-center justify-center tracking-widest uppercase font-semibold font-raisonne text-xs md:text-sm cursor-pointer outline-0 focus-visible:scale-105 duration-300	 ease-[cubic-bezier(1,0.83,0,2.32)];
}

.button-big {
  @apply py-4 px-6 md:px-8 rounded-[25px] bg-green-700 text-white;
}

.button-outline-small {
  @apply py-2 px-4 border border-green-800 text-green-800 hover:bg-green-800 hover:text-white focus-visible:bg-green-800 focus-visible:text-white;
}

.overlay {
  @apply after:w-full after:absolute after:h-full after:bg-black/20 after:-z-10;
}

.post {
  @apply w-full mx-auto max-w-[65rem] space-y-11;
}

.post :is(p, strong, em, li, figcaption, blockquote) {
  max-width: 90ch;
}

.post :is(h2, h3) {
  @apply mt-20;
}

.post :is(.post ol, .post ul) > li + li {
  @apply my-3;
}

.post :is(h2 + p, h3 + p, h2 + ul, h3 + ul) {
  @apply mt-5;
}

.post :is(h4 + p, h4 + ul) {
  @apply mt-4;
}
